tensorflow-cpu==2.13.0
fastapi
uvicorn
numpy
opencv-python-headless
requests
beautifulsoup4
googletrans==4.0.0-rc1
gtts
numpy
pillow
python-multipart
scikit-learn
google-api-python-client
kagglehub
